@import url("./forms.css");

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

form {
  min-width: 350px;
  width: 550px;
  padding: 30px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 10px;
}

a {
  color: var(--main-color);
  margin-left: 5px;
}
