@import url("./global.css");

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

span {
  display: block;
  color: var(--danger-color);
  font-size: 0.8rem;

  &:empty {
    display: none;
  }
}

#form-err {
  width: 100%;
  background-color: var(--danger-foreground-color);
  border: 1px solid var(--danger-color);
  padding: 10px 15px;
  border-radius: 6px;
}

form {
  min-width: 350px;
  width: 550px;
  padding: 30px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field input {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 14px;
}

a {
  color: var(--main-color);
  margin-left: 5px;
}
