@import url("./global.css");
@import url("./layout.css");

main {
  padding: 20px 0;

  h2 {
    margin-bottom: 20px;
  }
}

.cart-items {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
}

.cart-item {
  display: grid;
  grid-template-columns: 60px 120px 1fr 300px;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }

  .image img {
    margin: 0 auto;
    max-width: 100px;
  }

  .qty {
    opacity: 0.8;
  }

  .price {
    text-align: center;
    margin: 0 20px;
    font-weight: 500;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}

.empty-cart {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;

  p {
    font-size: 1.5rem;
  }
}

.summary {
  margin-left: auto;
  width: 320px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--border-color);

  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    opacity: 0.9;
  }

  .total {
    font-size: 18px;
    font-weight: 700;
    padding-top: 14px;
    border-top: 1px solid var(--border-color);
    opacity: 1;
  }
}

.buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  max-width: 300px;
}
