@import url("./layout.css");
@import url("./forms.css");

main {
  padding: 20px 0;

  form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  section {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    h2 {
      margin-bottom: 40px;
    }

    p {
      color: var(--text-light);
    }

    > * {
      flex: 1;
    }
  }
}

@media (min-width: 1024px) {
  main section {
    flex-direction: row;
    align-items: center;
  }
}

.contact-info {
  margin: 40px 0;

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    > div {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow: 4px 5px 11px -13px var(--border-color);
      border: 1px solid var(--border-color);
      color: var(--main-color);
      border-radius: 50%;
      font-size: 1.5rem;
    }

    p {
      flex: 1;
    }
  }
}
