/* header */
header {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav a {
    display: block;
    padding: 10px 18px;

    &:hover,
    &.active {
      color: var(--main-color);
    }

    &:has(span) {
      position: relative;

      span {
        display: none;
        position: absolute;
        top: 0;
        right: -10px;
        color: white;
        font-size: 0.9rem;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
      }
    }
  }

  #user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.burger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }

  header nav,
  #auth {
    display: none;
    width: 100%;
  }

  #user-profile,
  #no-user {
    display: flex;
    justify-content: flex-end;
  }
  #no-user {
    padding-bottom: 20px;
  }

  nav.active,
  #auth.active {
    display: block;
  }

  header .container {
    flex-wrap: wrap;

    nav ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 0px !important;

      a {
        padding-left: 0 !important;
      }
    }
  }
}

/* go-up button */
.go-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* footer */
footer {
  padding: 40px 0px;
  border-top: 1px solid #eee;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    h3 {
      padding-bottom: 20px;
    }

    > div:first-of-type {
      display: flex;
      gap: 15px;
      flex-direction: column;

      p {
        color: #484848;
      }
    }

    > p {
      font-size: 0.85rem;
      justify-self: center;
      color: #777;
    }
  }
}

.social-nav ul {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;

  a {
    padding: 10px !important;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;

    &:hover {
      background-color: var(--main-hover);
    }
  }
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;

  a {
    padding: 6px 0 !important;
    font-size: 0.9rem;
  }
}

@media (min-width: 767px) {
  div:has(.footer-nav) {
    margin: 0 auto;
  }
}
