@import url("./global.css");
@import url("./layout.css");
@import url("./products-shared.css");

/* slider */
.slider {
  text-align: center;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;

  > button {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    max-width: fit-content !important;

    &.prev {
      left: 20px;
    }

    &.next {
      right: 20px;
    }
  }
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;

  img,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    background-color: aliceblue;
    opacity: 0.6;
    z-index: -1;
  }

  img {
    z-index: -2;
    object-fit: cover;
  }

  .container {
    width: 80%;
    max-width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    h2 {
      font-size: 3rem;
    }

    p {
      margin-top: -15px;
      font-size: 1.8rem;
    }

    a {
      font-size: 1.2rem;
      padding: 17px 60px !important;

      i {
        font-size: 1rem;
        margin-left: 10px;
      }
    }
  }

  &.active {
    opacity: 1;
  }
}

/* products */
.products-sec {
  padding: 100px 0;

  h2,
  a {
    width: fit-content;
    display: block;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 20px;
  }

  .container > div {
    padding: 20px 0;
  }
}
