@import url("./global.css");
@import url("./layout.css");

/* main */
main {
  /* height: 3000px; */
}

/* hero section */
.hero {
  padding: 100px 0;
  text-align: center;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  /* background-image: url("../assets/images/world-map-dotted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #fff;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    z-index: -1;
  } */

  h1 {
    font-size: 2.5rem;
  }

  p {
    margin: 20px auto 40px;
    line-height: 1.4;
    max-width: 750px;
    width: 80%;
    color: #484848;
  }

  button {
    padding: 14px 40px;
    border-radius: 10px;
    font-size: 1.01rem;
    font-weight: 500;
  }
}
