@import url("./global.css");
@import url("./layout.css");

main {
  padding: 30px 0;
}

.container > button {
  width: fit-content;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  gap: 20px;

  > div {
    flex: 1;
  }

  h2 {
    display: none;
    margin-bottom: 10px;
  }

  .details {
    width: 100%;

    p {
      margin: 20px 0;
    }

    div {
      border-top: 1px solid var(--border-color);
      padding-top: 20px;
      display: flex;
      align-items: center;
      gap: 40px;

      span {
        font-weight: 600;
        font-size: 1.02rem;
      }

      button {
        flex: 1;
      }
    }
  }
}

main .container {
  visibility: hidden;

  div {
    margin: 0 auto;

    &:has(img) {
      display: flex;
      justify-content: center;
    }

    img {
      margin-top: 20px;
      max-width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}

@media (min-width: 991px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    h2 {
      display: block;
    }

    img {
      margin-top: 0;
    }
  }

  article > h2 {
    display: none;
  }
}
