@import url("./global.css");
@import url("./layout.css");
@import url("./products-shared.css");

main {
  padding: 20px 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: flex;
  align-items: center;
  gap: 20px;
}

select {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  text-transform: capitalize;
}
